@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope.ttf) format('truetype');
}

@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}